*body{
    margin: 0;
    padding: 0;
}
.Start{
    position: -webkit-sticky;

    /*thanh cuon*/
    position: sticky;

    top: 0;
    background-color: white;
    width: 100%;
    height: 80px;
    border-style: none;
    display: flex;
    justify-content: space-around;
}
.Start__right{
    margin-top: 30px;
    text-align: center;
    word-spacing: 30px;
}

.container{
    display: flex;
    flex-direction: column;

}
.content1{
    color: white;
    width: 100%;
    height: 551px;
    background-image: url(maytinh.webp);
    background-size: auto;
    text-align: center;
}

.content2{
    color: white;
    width: 100%;
    height: 551px;
    background-color: rgb(235, 97, 62);
    text-align: center;
}

.content3{
    color: black;
    width: 100%;
    height: 551px;
    background-color: white;
    text-align: center;
    
}
.content3 .content3__icon{
    
    color: rgb(235, 97, 62);
    display: flex;
    justify-content: center;
    max-width: 70%;
    margin: auto;
}
.content3__icon1{
    width: 100%;
    
}
.content4{
    width: 100%;
    height: 800px;
    background-color: black;
    text-align: center;
}

.content4 .content4__image{
    display: flex;
    flex-wrap: wrap;
}
.content4 .content4__image .content4__image1{
    width: 33.3333333%;
    height: 240px;
}
img{
    width: 100%;
    height: 100%;
}

.content5{
    color: black;
    width: 100%;
    height: 551px;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    
}
input[type=text], input[type=email], input[type=tel]{
    border-radius: 6px;
    border-color: rgb(235, 97, 62);
}
input[type=submit]{
    border-radius: 20px;
    border-style: none;
}

@media (min-width: 740px) and (max-width: 1023px){
    .Start__left{
        margin-top: -5px;
        margin-left: -30px;
    }
    .Start__right{
        display: none;
    }
    .container{
        font-size: 17px;
    }
    .content1{
        height: 112vh;
    }
    .content3{
        height: 140vh; 
    }
    .content3__icon{
        display: flex;
        flex-wrap: wrap;
    }
    .content3__icon1{
        width: 50%;
        height: 40vh;
    }
    .content4{
        height: 180vh;
    }
    .content4__image{
        display: flex;
        flex-wrap: wrap;
    }
    .content4 .content4__image .content4__image1{
        width: 50%;
    }
}

@media (max-width: 740px){
    .Start__left{
        margin-top: -15px;
        margin-left: 150px;
        display:inline-block;
    }
    .Start__right{
        display: none;
    }
    .container{
        font-size: 17px;
    }
    .content1{
        height: 112vh;
    }
    .content3{
        height: 180vh; 
    }
    .content3__icon{
        display: flex;
        flex-direction: column;
      
    }
    .content4{
        height: 310vh;
    }

    .content4__image{
        display: flex;
        flex-wrap: wrap;
    }
    .content4 .content4__image .content4__image1{
        width: 100%;
    }
}